{getposts assign=post postid=$postid}
{assign var=title value=$blogname}
{assign var=pagetitle value="$blogname :: "|cat:$post.title}
{include file="header.html"}
	{include file="side.html"}
	<div id="articles"><div id="articles-content">
		<div id="headerAds">&nbsp;
		</div>
		<div class="article">
			<h4 id="{$post.title|escape}"><a href="{$post.permalink|escape}">{$post.title}</a></h4>
			<div class="box nobb">
			{$post.body}
			</div>
			<div class="articleMeta">
				Category: {sectionlinks sep=" &middot; " sections=$post.sections} &#8226; 
				Author: {$post.author.fullname} <br />
				Trackback {$post.trackbackurl}
			</div>
		</div>
        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
          <rdf:Description rdf:about="{$post.permalink}" dc:identifer="{$post.permalink}" dc:title="{$post.title}" trackback:ping="{$post.trackbackurl}" />
        </rdf:RDF>
        <div class="article">
			<h4>Comments</h4>
          	{getcomments assign=comments}
          	{if count($comments) gt 0}
          		{foreach from=$comments item=comment}
          		<div class="comment{if $comment.onhold} onhold{/if}" style="margin-left: {$comment.level}px;{if $comment.level gt 1}border-top: none;{/if}">
            		{if $comment.onhold}
              		<div class="comment-body">Comment pending moderation</div>
            		{else}
	              	<div class="comment-head">{$comment.title}</div>
	              	<div class="comment-body">
                		{$comment.body}
                		<div class="comment-meta">
	                  		{if $comment.type eq 'trackback'}
	                  		<p>Trackback from <a href="{$comment.posterwebsite}">{$comment.postername}</a> {$comment.posttime|date_format:since} &#8226; <a href="replyto={$comment.id}#commentform">Reply</a></p>
	                  		{else}
	                  		<p>Comment #{$comment.id} &nbsp; {$comment.posttime|date_format:since} by {$comment.author} &#8226; {$comment.email} &#8226; {$comment.website} &#8226; <a href="replyto={$comment.id}#commentform">Reply</a></p>
	                  		{/if}
							<strong>Parent: {$comment.parent}</strong>
	                  		<div class="comment-trackback">Comment Trackback URL : {$comment.url}</div>
                		</div>
              		</div>
              		{/if}
            	</div>
          		{/foreach}
          	{/if}
          </div>
          <div class="article">
          	{if $post.allowcomments}
          	<h3 class="title">Add Comment</h3>
          	<form method="post" action="{$commentformaction}">
	            {$commentformhiddenfields}
	            <input type="hidden" name="title" value="{$post.title}" />
        	    <input type="hidden" name="email" value="worthless" />
                    <label for="name">Name </label>
	                <input name="name" type="text" value="" id="author" size="22" tabindex="1" />
	                <label for="website">Website </label>
	                <input name="website" type="text" value="" id="url" size="22" tabindex="2" />
					{if $C_CAPTCHA_ENABLE === 'true'}
					<img src="{$blogurl}visualcaptcha.php" alt="Visual CAPTCHA" />
					<label for="imagecode">Image Text </label>
					<input name="imagecode" id="imagecode" type="text" tabindex="3" />
			        {/if}
	                <label for="comment">Comment </label>
	                <textarea name="comment" cols="80" rows="10" id="text" tabindex="4"></textarea>
	                <div class="">&nbsp;</div> 
	                <input name="submit" type="submit" id="submit" value="Add Comment" tabindex="5" /><input type="hidden" name="do" value="submitcomment" />
	                <div id="commentPreview"></div>
	            </div> 
          	</form>
          {else}
          <p>Comments have now been turned off for this post</p>
          {/if}
	      </div>
          <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	      xmlns:dc="http://purl.org/dc/elements/1.1/"
	      xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
		  <rdf:Description
		  rdf:about="{$post.permalink}"
		  dc:identifer="{$post.permalink}"
		  dc:title="{$post.title}"
		  trackback:ping="{$post.trackbackurl}" />
			</rdf:RDF>
    {include file="footer.html"}