        <div id="leftBar"><div id="leftBar-content">
            <h2>Earlier Posts</h2>
            <div class="box">
                {getposts num=10 skip=10 assign=recent mode="list"}
                <ol>
                {foreach item=post from=$recent}
                    <li><a href="{$post.permalink}">{$post.title}</a></li>
                {/foreach}
                </ol>
            </div>
			<h2>Older Posts</h2>
			<div class="box">
				{archivemonths aslist="yes" showcount="0"}
			</div>
			<h2>Sections</h2>
			<div class="box">
				{sectionlinks mode="list"}
			</div>
		</div></div>