{assign var=title value="$blogname :: Archives"}
{assign var=pagetitle value="`$blogname` :: Archives"}
{include file="header.html"}
    <div id="contentBox">
      {getarchiveposts assign=archives}
      {foreach from=$archives item=archive}
      <div class="article">
          {if $archive.newmonth}
          <h2>Posts for {$archive.posttime|date_format:'F of Y'}</h1>
          {/if}
          <h4>{$archive.posttime|date_format:"j<\s\u\p>S</\s\u\p>"} <a href="{$archive.permalink}">{$archive.title}</a></h4>
       </div>
      {/foreach}
    {include file="footer.html"}
