{include file='header.html'}
	<div id="content">
		<h3>Loquacity installed successfully!</h3>
		<p></p>
		<h3>Security Notice:</h3>
		<p>You need to do the following three steps to secure your installation.</p>
		<ol>
		    <li>Delete install.php</li>
		    <li>Delete the install folder</li>
		    <li>Chmod the config.php so that it is not writable by the webserver</li>
		</ol>
		<p>When you have done that, you may <a href='index.php?b=options'>Login to Loquacity</a>. Be sure to visit the Options page to set your email address and other options.</p>

{include file='footer.html'}
