{include file='header.html'}
	<div id="content">
		<h3>All Done!</h3>
		<p>Install finished, almost....</p>
		<h3>Security</h3>
		<p>Now, you need to do 3 things to finish off</p>
		<ol>
		    <li>Delete install.php</li>
		    <li>delete the install folder</li>
		    <li>Chmod the config.php so that it is not writable by the webserver</li>
		    <li>When you have done that, you may <a href='index.php?b=options'>Login to Loquacity</a>. Be sure to visit the Options page to set your email address and other options.</li>
		</ol>
{include file='footer.html'}
