body{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background-color: #fff;
	color: #000;
	padding: 0px;
	margin: 0px;
}
a{
    text-decoration: none;
}
.box{
    border: 2px solid #4FAA39;
    padding: 1ex;
}
.nobb{
    border-bottom: none;
}
#siteMenu{
	position: relative;
	left: 15%;
	width: 75%;
	top: 7%;
}
#siteMenu a, #siteMenu a:link, #siteMenu a:active{
	color: #28551C;
	padding-right: 3px;
}
#siteMenu a:hover{
	background-color: #28551C;
	color: #B3DFA7;
}

#content{
	width: 90%;
	margin: 1em auto;
}
#articles{
	margin: 0 0 0 30%; padding: 0;
}
#articles-content{
	margin: 0; padding: 0.5em 1em;
	font-size: 100%;
}
#headerAds{
    position: relative;
    left: 0;
    height: 65px;
    width: 468px;
}
#leftBar{
	float: left;
	width: 30%;
	margin: 0; padding: 0;
}
#leftBar-content{
	margin: 0; padding: 0.5em 1em;
	font-size: 70%;
}
hr.cleaner{
	clear:both;
	height:1px;
	margin: -1px 0 0 0; padding:0;
	border:none;
	visibility: hidden;
}
#articles h2{
    background-color: #387728;
    color: #BBFFAA;
    padding-bottom: 0;
    padding-left: 1em;
    margin-bottom: 0;
}
#toc.box{
    background-color: #DDFFD5;
    color: #387728;
    border-color: #387728;
}
#toc p{
}
ol.toc{
}
ol.toc li{
    margin-left: 0;
    padding-left: 0;
}
#toc a{
    color: black;
    border-bottom: 1px dotted black;
}
#toc a:hover{
    background-color: #387728;
    color: #BBFFAA;
}
#articles-content h3.date{
    color: black;
    text-align: right;
}
div.article h4{
    color: #387728;
    padding-bottom: 0;
    margin-bottom: 0;
}
div.article h4 a{
    background-color: #4FAA39;
    color: black;
    padding-right: 1em;
    padding-left: 5px;
}
div.article p{
}
.articleMeta{
    background-color: #DDFFD5;
    color: #50AA39;
    border-style: solid;
    border-width: 2px;
    border-color: #4FAA39;
    border-top: none;
    padding-left: 5px;
    padding-right: 5px;
}
.articleMeta a{
    color: #4FAA39;
    font-weight: bold;
}
#footer{
  font-size: smaller;
  margin-top: 1cm;
  text-align: center;
}
p{
  z-index: 30;
}

#leftBar-content h2{
    background-color: #387728;
    color: #BBFFAA;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#leftBar-content .box{
    /*background-color: #BBFFAA;*/
    background-color: #DDFFD5;
    border: 2px solid #387728;
    color: #000;
}
#leftBar-content .box a{
    font-weight: bold;
    color: #387728;
}
.txt{
	margin-left: 210px;
	padding-left: 1em;
	padding-right: 1em;
}
.comment{
    border: solid 1px #387728;
    background-color: #DDFFD5;
    color: #000;
    margin-bottom: 1ex;
}
.comment a{
}
.deleted{
    background-color: #387728;
    color: #fff;
    font-weight: bolder;
    font-family: san-serif;
}
.onhold{
    background-color: #33FF00;
    border: none;
    color: #000;
    font-weight: bold;
    font-family: Helvetica;
}
.comment-head{
    background-color: #50AA39;
    color: #fff;
    font-weight: bold;
}
.comment-body{
}
.comment-meta{
    background-color: #BBFFAA;
    color: #50AA39;
    margin-top: 1ex;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    font-family: san-serif;
}
.comment-meta p{
    margin: 0;
}
.comment-meta a{
    color: #000;
}
.comment-trackback{
}
.clear{
    clear: both;
}
.form > label{
	display: block;
}
.form > img{
	display: block;
}