<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8" />
        <title>Loquacity Installer</title>
        <link rel="stylesheet" type="text/css" title="Main" href="core/style/admin.css" media="screen" />
        <style type="text/css">
	{literal}
            #teaser a {
                cursor:default;
            }
            #teader a:hover {
            
            }
	{/literal}
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Loquacity Guided Installer</h1>
        </div>
        <div id="teaser">
            <a {if $step eq 0}class="active" {/if}href="Javascript:;">Welcome</a>
            <a {if $step eq 1}class="active" {/if}href="Javascript:;">File Permissions</a>
            <a {if $step eq 2}class="active" {/if}href="Javascript:;">Database Settings</a>
            <a {if $step eq 3}class="active" {/if}href="Javascript:;">Config</a>
            <a {if $step eq 4}class="active" {/if}href="Javascript:;">Finish</a>
            <a href="install.php?install=reset" style="cursor:pointer;">Reset install, start over.</a>
        </div>
