{include file='header.html'}
	<div id="content">
		<form action="install.php?install=prescan" method="POST" name="install">
			<h3>Welcome to the Loquacity installer</h3>
			<?php echo $message; ?>
			<h4>Introduction</h4>
				<p>Welcome to the Loquacity Guided Installer. If you experience problems using this installer, visit
					the <a href="http://forum.loquacity.info">forums</a> and ask for help. Try to be as detailed as
					you can when reporting problems.
				</p>
			<h4>Loquacity Licence</h4>
				<p>Loquacity is licensed according to the terms of the <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL</a>. While this license
					governs only the <em>distribution</em> of software, thus not requiring your consent for the <em>use</em> of this software,
					you must be aware of the following before using Loquacity:</p>
				
				<p>Loquacity - a blogging application</p>
				<p>Copyright &copy; 2006 Kenneth Power</p>
				<blockquote>
				  This program is free software; you can redistribute it and/or modify
				  it under the terms of the GNU General Public License as published by
				  the Free Software Foundation; either version 2 of the License, or
				  (at your option) any later version.
				 
				  This program is distributed in the hope that it will be useful,
				  but WITHOUT ANY WARRANTY; without even the implied warranty of
				  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
				  GNU General Public License for more details.
				 
				  You should have received a copy of the GNU General Public License
				  along with this program; if not, write to the Free Software
				  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
				</blockquote>
			
			<h4>Install Type</h4>
				<div>
					<input type="radio" class="radio" name="install_type" id="fresh_install" value="fresh" checked="checked" onClick=" document.forms.install.elements['upgrade_from'].disabled = true;" />
					<label for="fresh_install">Fresh Install</label>
				</div>
				<div>
					<input type="radio" class="radio" name="install_type" id="upgrade" value="upgrade" onClick=" document.forms.install.elements['upgrade_from'].disabled = false;" />
					<label for="upgrade"> Upgrade from</label>
				</div>
				<div>
					<select name="upgrade_from" id="upgrade_from" disabled>
						<option value="bblog07">bBlog 0.7.6</option>
					</select>
				</div>
			<div class='frame'>
				<input type="submit" value="Next &gt;" name="submit" />
			</div>
		</form>
	</div>
{include file='footer.html'}
